
body, h1, h2, h3, .navbar, p, a, b, button, input, textarea {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #111; 
    color: #f0f0f0;       
    padding: 20px;
}

.navbar .brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-img {
  height: 75px;       
  width: auto;
  display: block;
}

.brand-text {
  color: #ff0050;     
  font-size: 22px;       
  font-weight: bold;
}


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-bottom: 2px solid #ff0050;
}

.navbar .logo {
    color: #ff0050;
    font-size: 22px;
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: #ff0050;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #ff0050;
    color: white;
}

h1, h2 {
    color: #ff0050; }


a {
    color: #00ffff; 
    text-decoration: none;
    margin: 0 8px;
}

a:hover {
    color: #ff00ff;
}


hr {
    border: 1px solid #333;
}


img {
    border-radius: 6px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #222;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}



button {
    background-color: #ff0050;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0040;
}

body.light {
    background-color: #fff;
    color: #111;
}

body.light a {
    color: #0361a3;
}

body.light h1, body.light h2 {
    color: #a30391;
}
body.light span {
    color: #ad0347;
}
body.light li {
    background-color: #f4f4f4;
}
body.light nav {
	background-color: #e8eaeb;
}
	
body.light ul {
    color: #ad0347;
}